.home-container {
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}


.catagory-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.header-img {
    height: 300px;
    width: 900px;
    margin: auto;

}